/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * IsleTrains implementation : © Evan Pulgino <evan.pulgino@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * isletrains.css
 *
 * IsleTrains stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (isletrains_isletrains.tpl), and to HTML elements you create dynamically
    (in isletrains.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

/* General Classes */
.iot-hidden {
    display: none !important;
}

/* Island Layout */
#iot_island {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    justify-content: center;
}

.iot-island-slot {
    text-align: center;
}

/* Island Cards */
.iot-island-card{
    display: inline-block;
    position: relative;
    width: 346px;
    height: 247px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 1px 1px 1px 0 #000000a0;
    background-image: url('img/iotIslandCards.png');
}

div.iot-island-card:hover {
    transform: scale(1.05);
    z-index: 100;
}

.iot-island-card-1 {background-position: 0 0; }
.iot-island-card-2 {background-position: 33.33% 0; }
.iot-island-card-3 {background-position: 0 33.33%; }
.iot-island-card-4 {background-position: 33.33% 33.33%; }
.iot-island-card-5 { background-position: 66.67% 0; }
.iot-island-card-6 {background-position: 66.67% 33.33%; }
.iot-island-card-7 {background-position: 0 66.67%; }
.iot-island-card-1-back {background-position: 33.33% 66.66%; }
.iot-island-card-2-back {background-position: 66.66% 66.66%; }
.iot-island-card-3-back {background-position: 0 100%; }
.iot-island-card-4-back { background-position: 33% 100%; }
.iot-island-card-5-back {background-position: 66.66% 100%; }
.iot-island-card-6-back {background-position: 100% 0; }
.iot-island-card-7-back {background-position: 100% 33.33%; }

